/* Bring back the old font */
@import url(https://cdn.statically.io/gh/Overimagine1/old-discord-font/main/source.min.css);

/* Nitro gift button */
div[class^="channelBottomBarArea_"] div[class^="buttons_"] > button { display: none; }

/* Sticker button */
div[class^="channelBottomBarArea_"] div[class^="buttons_"] > :nth-child(3) { display: none; }

/* Quest popup */
div[class^="sidebar_"] section[class^="panels_"] div[class^="mask_"] { display: none; }

/* App launcher */
div[class^="channelAppLauncher_"] { display: none; }

/* Member list game activities */
h3[class^="membersGroup_"]:has(span[class^="headerContainer_"]) { display: none; }
div[class^="members_"] div:not([class]):has(div[class^="infoSection_"]) { display: none; }

/* Guild tags */
span[class^="chipletContainerInner_"] { display: none; }

/* New member badge */
span:has(> div[class^="newMemberBadge_"]) { display: none; }

/* Nitro tab */
li:has(a[href="/store"]) { display: none; }

/* Shop */
li:has(a[href="/shop"]) { display: none; }

/* Profile editor avatar decoration setting */
div[class^="profileCustomizationSection_"] div[class^="sectionsContainer_"] div[class^="customizationSection_"]:nth-child(4) { display: none; }

/* Profile editor effect setting */
div[class^="profileCustomizationSection_"] div[class^="sectionsContainer_"] div[class^="customizationSection_"]:nth-child(5) { display: none; }

/* Profile editor cosmetics advertisement */
div[class^="container_"]:has(div[class^="artContainer_"]) { display: none; }

/* Profile editor Nitro advertisement */
div[class^="premiumFeatureBorder_"] { display: none; }

/* Nitro settings (yes this is messy, no I don't know how to do it better) */
div[class^="side_"] > div:has(+ div[class^="premiumTab_"]) { display: none; }
div[class^="side_"] > div[class^="premiumTab_"] { display: none; }
div[class^="side_"] > div[class^="premiumTab_"] + div { display: none; }
div[class^="side_"] > div[class^="premiumTab_"] + div + div { display: none; }
div[class^="side_"] > div[class^="premiumTab_"] + div + div + div { display: none; }
div[class^="side_"] > div[class^="premiumTab_"] + div + div + div + div { display: none; }
div[class^="side_"] > div[class^="premiumTab_"] + div + div + div + div + div { display: none; }

/* Merch button */
div[class^="side_"] > div:nth-last-child(7) { display: none; }

/* Social links */
div[class^="side_"] > div[class^="socialLinks_"] { display: none; }

/* Nitro custom appearance settings */
div[class^="selectionGroup_"]:has(div[class^="tryItOutButtons"]) { display: none; }
div[class^="selectionGroup_"]:has(div[class^="tryItOutButtons"]) + div { display: none; }

/* Change bot tags to read BOT again */
span[class^="botText_"] { display: none; }
span[class^="botTag_"]:after { content: "BOT"; }
span[class^="botTagRegular_"]:after { content: "BOT"; }

/* User badges */
div[class^="tags_"] div[class^="container_"] { display: none; }

/* Suggested reactions on message hover */
div[class^="reactionSuggestion_"] { display: none; }
div[class^="reactionSuggestion_"] + div { display: none; }

/* Server boost progress bar */
li:has(div[data-list-item-id^="channels___boosts"]) { display: none; }

/* Server icons (like "community server") */
div[class^="guildIconV2Container_"] { display: none; }

/* Browse Channels button */
li:has(div[class^="link_"]) { display: none; }
li:has(div[class^="link_"]) + div { display: none; }

/* Discover Servers button */
ul[data-list-id="guildsnav"] > div > div[class^="listItem_"]:has(div[class^="circleIconButton_"]) { display: none; }

/* Boost Server menu option */
div:has(> div#guild-header-popout-premium-subscribe) { display: none; }
div:has(> div#guild-header-popout-premium-subscribe) + div { display: none; }

/* Server Booster badge */
div:has(> svg[class^="premiumIcon_"]) { display: none; }

/* Avatar decorations */
svg[class^="avatarDecoration_"] { display: none; }

/* Profile banners */
div[class^="banner_"] { background-image: none !important; }

/* Profile animations */
div[class^="profileEffects_"] { display: none; }

/* Server banners */
div[class^="animatedContainer_"] { display: none; }
ul[aria-label="Channels"]:has(div[style="height: 84px;"]) { margin-top: -84px; }

/* Hide Nitro emoji in picker (WIP) */
div[class*="categorySectionNitroLocked_"] { display: none; }
div[class^="nitroTopDividerContainer_"] { display: none; }
div[class^="upsellContainer_"] { display: none; }
div:not([class]):has(div[class^="categoryItemLockIconContainer_"]) { display: none; }
li[role="gridcell"]:has(div[class^="emojiLockIconContainer_"]) { display: none; }

/* Hide sticker tab in GIF/emoji selector */
button#sticker-picker-tab { display: none; }

/* Hide activities */
div[class^="biteSizeOverlayBackground_"] { display: none; }
div[aria-label="Activity"] { display: none; }
div[class^="overlayBackground_"]:has(> div[class^="actions_"]) { display: none; }
div[class^="activityText_"]:has(strong) { display: none; }

/* Hide bot "Add App" button in profile */
div[class^="biteSizeInner_"] div[class^="buttons_"] > button[class^="button_"] { display: none; }
div[class^="messageIconButton_"] + button { display: none; }

/* Hide bot commands in profile */
div[class^="biteSizeInner_"] > div[class^="body_"] > section[class^="section_"]:has(ul) { display: none; }
div[class^="userProfileModalInner_"] > div[class^="body_"] section[class^="section_"]:has(ul) { display: none; }
